<div>
    <h4>Agregar Tareas</h4>

    <form>
        <div class="row">
            <input [(ngModel)]="descripcionTarea" name="descripcionTarea" data-testid="descripcionTarea"
                class="col-md-9" type="text" placeholder="Descripcion de la tarea">

            <div class="col-md-2">
                <button type="submit" class="btn btn-indigo" (click)="agregarTarea()" data-testid="agregarTarea">
                    <i class="fa fa-plus mr-1"></i>
                </button>
            </div>
        </div>

        <label data-testid="errorMessage" *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </label>
    </form>

    <br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Prioridad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of tareas" [routerLink]="['/editarTarea', tarea.id]">
                <td data-testid="tableRowId">
                    {{tarea.id}}
                </td>
                <td data-testid="tableRowDesc">
                    {{tarea.descripcion}}
                </td>
                <td data-testid="tableRowPrioridad">
                    {{tarea.prioridad}}
                </td>
            </tr>
        </tbody>
    </table>

</div>